body {
  font-family: Verdana, Arial, '宋体';
  font-size: 12px;
}

header {
	height: 180px;
	weight: 1170px;
	border: 1px dotted #000;
	margin: 10px;
}

nav {
	font-size: 18px;
}

.cAddress {
	height: 100px;
	display: float;
}
nav ul {
	height: 40px;
	border: 1px dotted grey;
	margin: 0px;
	text-align: left;
	font: 20px;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

#iMainContent {
	margin: 0px;
	padding: 0px;
	border: 1px dotted red;
}

#iPicDisplay {
	height: 240px;
	margin: 0px 10px 10px 10px;
	border: thin solid green;
}

#iProductDisplay {
	height: 240px;
	margin: 10px;
	border: thin solid green;
}

#iSlogan {
	height: 240px;
    margin: 10px;
	border: medium solid blue;
}

#iLatestNews {
	height: 200px;
    margin: 10px;
	border: thick dotted black;
}

footer {
	margin: 10px 0px 0px 0px;
	height: 40px;
	border: thin solid #000;
}