body {
  font-family: Verdana, Arial, '宋体';
  font-size: 12px;
  background-color: white;
}
/* 页眉，包括导航条 */
header {
	height: 180px;  /* 固定高度 */
	border: 1px dotted #000;
	margin: 10px;
	padding-bottom: 0px;
	position: relative;
	top: 10px;
}

.cAddress {
	font-style: bold;
	height: 100px;
	width: 240px;
	border: thin dotted grey;
	position: absolute;
	top: 10px;
	left: 10px;
}

.cLogo {
	height: 100px;
	border: thin dotted grey;
	position: absolute;
	top: 10px;
	right: 10px;
}  /* --END 页眉 */

/* 导航条 */
nav {
	font-size: 18px;
	height: 40px;
	width: 100%;
	border: thin dotted red;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

nav ul {
	
}
nav ul li {
	list-style: none;
	display: inline-block;
}

#iMainContent {
	margin: 30px 0px 0px 10px;
	padding: 0px;
	border: 1px dotted red;
}

#iPicDisplay {
	height: 240px;
	margin: 0px;
	border: thin solid green;
}

#iSlogan {
	height: 240px;
    margin: 10px 0px;
	border: medium solid blue;
}
/* 产品展示 */
#iProductDisplay {
	height: 240px;
	margin: 10px 0px;
	border: thin solid green;
}
/* Latest News */
#iLatestNews {
	height: 200px;
    margin: 10px 0px 0px 0px;
	border: thick dotted black;
}

/* 页脚 */
footer {
	margin: 10px 0px 0px 10px;
	height: 40px;
	border: thin solid #000;
}